name: "Quality"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
    paths-ignore:
      - '**.md'
      - 'screenshots/**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check lint
        run: npm run lint

      - name: Run unit tests
        run: npm test

      # Requires TEAMS_TEST_HOOK_URL to be set as secrets
      - name: Run HTTP request tests
        run: npm run verify
        env:
          TEAMS_TEST_HOOK_URL: ${{ secrets.TEAMS_TEST_HOOK_URL }}

      - run: npm run prepare

      # test action works running from the graph
      - name:  Test action workflow - All features
        uses: ./
        if: ${{ always() }}
        with:
          webhookUrl: ${{ secrets.TEAMS_TEST_HOOK_URL }}
          message: Test action workflow
          status: ${{ job.status }}
          title: Test action workflow title
          titleBackgroundColor: ${{ job.status }}
        env:
          SHOULD_DISPLAY_VIEW_RUN_BUTTON: true
          SHOULD_DISPLAY_VIEW_COMMIT_BUTTON: true

      - name:  Test action workflow - only message
        uses: ./
        with:
          webhookUrl: ${{ secrets.TEAMS_TEST_HOOK_URL }}
          message: Test action workflow - ONLY MESSAGE
